{% extends "base.html" %}
    
{% block content %}

<h1>Signup</h1>
  <hr>
<form action="/signup.html" method="post">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td>
                <input name="username" type="text" placeholder="User Name" value="{{username}}" />
                {% if username|length != 0 %}
                <span class="error">{{username_error}}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td>
                <input name="password" type="password" placeholder="Password" value="{{password}}" />
                <!-- {% if password|length != 0 %} -->
                <span class="error">{{pass_error}}</span>
                <!-- {% endif %} -->
            </td>
        </tr>
        <tr>
            <td><label for="passwordv">Verify Password:</label></td>
            <td>
                <input name="passwordv" type="password" placeholder="Confirm Password" value="{{passwordv}}" />
                <!-- {% if passwordv|length != 0 %} -->
                <span class="error">{{passv_error}}</span>
                <!-- {% endif %} -->
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional):</label></td>
            <td>
                <input name="email" type="text" placeholder="Email" value="{{email}}" />
                {% if email|length != 0 %}
                <span class="error">{{email_error}}</span>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}